* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
<<<<<<< HEAD
body p {
  margin-inline: 12%;
  border: 1px solid black;
}
/* Nav-bar */
/* About Section */
#About {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 1px solid black;
  padding: 10px;
}
.card {
  width: 50%;
  border: 1px solid black;
}
.card img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}
.img_description {
  width: 50%;
  border: 1px solid black;
  overflow: scroll;
  max-height: 300px;
  text-align: center;
}
/* Skills Section */
#Skills {
  width: 100%;
  border: 1px solid black;
}
.skills-title {
  display: flex;
  justify-content: space-between;
  
}
meter {
 width: 100%;
}
.intro {
  text-align: center;
}
div.row {
  display: flex;
    justify-content: center;
}


/* Testimony Section */
div.carousel-inner {
  text-align: center;
}
/* Footer */

footer {
  background-color: #293241;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
=======
.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.intro h1 {
    font-size: 3rem;
    text-align: center;
}
#Resume {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    border: 1px solid black;
    margin-left: 10px;
}

.card ul li {
    margin-left: 20px;
}
.col1 {
    margin-left: 90px;
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col {
    margin-left: 50px;
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
footer {
    background-color: #293241;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
>>>>>>> origin/Resume
