* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#Contact {
    width: 100%;
    height: 71.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro {
    text-align: center;
}

.intro p {
    margin-inline: 10%;
    border: 1px solid black;
}
div.contact-icons {
    border: 1px solid black;
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 10px 10px;
    margin-top: 50px;
}
div.location {
    border: 1px solid black;
    display: flex;
    height: 80px;
    
    
}
form {
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
}
div.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.icon {
    font-size: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
div.icon-description {
    margin-left: 10px;
}
/*footer */
footer {
    background-color: #293241;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}