* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#Main {
    width: 100%;
    height:100vh;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #EE6C4D;
    border-radius: 10px;
    width: 100px;
}

/*footer */

footer {
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}