* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.intro h1 {
    font-size: 3rem;
    text-align: center;
}
#Resume {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    border: 1px solid black;
    margin-left: 10px;
}

.card ul li {
    margin-left: 20px;
}
.col1 {
    margin-left: 90px;
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.col {
    margin-left: 50px;
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
footer {
    background-color: #293241;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
