* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* Nav-Bar */
.nav {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293241;
    position: fixed;
    padding: 20px;
    z-index:100;
}

ul.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

ul.nav-links a {
    color: white;
    display: flex;
}

li.nav-link {
    list-style: none;
    font-size: 20px;
}
#projects {
    width: 100%;
    height: 100vh;
    padding: 5% 10%;
}
.project-title {
    text-align: center;
    font-size: 2rem;
    border: 1px solid black;
}
.project-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.intro {
    text-align: center;
   
}

h1 {
    font-size: 3rem;
}

/*image overlay */

.image {
    position: relative;
    width: 320px;
}

.image__img {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.35s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transfor, 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    border: 1px solid black;
}

.image__btn {
    font-size: 1.25em;
    margin-top: 0.25em;
    border: 1px solid black;
    padding: 10px;
    font-size: 40pxpx;
}
footer {
    background-color: #293241;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
